<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Head content</title>

    <!--Additional elements for browsers and robots go here goes here-->
    <!-- CSS (load bootstrap from a CDN) -->

    <style>
        body {
            padding-top: 100px;
        }
    </style>
</head>

<body>
    <!--Elements visible to users go here-->


    <% if (<%= error_msg%>) {%>

        <div class="alert alert-danger">
            <%= error_msg%>
        </div>
        <%}%>
            <%errors.forEach(function(error)) {%>

                <div class="alert alert-danger">
                    <%=  error_msg%>
                </div>
                <%}%>

</body>

</html>